In [14]:
import pandas
import numpy as np
uchazeci = pandas.read_csv("prijimaci_zkousky.csv")
uchazeci

,prijmeni,krestni_jmeno,obor,body_aj,body_mat,body_cj,letni_skola,souteze
0,Květoslava,Růžičková,Elektrotechnika,62,48,51,ne,NaN
1,Jan,Moravec,Technické lyceum,81,74,66,ne,7. místo (matematická olympiáda)
2,Denis,Fiala,Informatika,63,69,65,ne,NaN
3,Luboš,Šimek,Informatika,78,79,65,ne,NaN
4,Vilém,Novotný,Informatika,84,68,78,ano,NaN
...,...,...,...,...,...,...,...,...
195,Naděžda,Čermáková,Technické lyceum,71,61,67,ne,NaN
196,Matěj,Mašek,Technické lyceum,78,75,56,ano,NaN
197,Vlastimil,Čermák,Technické lyceum,63,49,53,ne,NaN
198,Emil,Černý,Elektrotechnika,78,71,70,ne,7. místo (fyzikální olympiáda)
199,Miluše,Novotná,Informatika,67,79,75,ano,NaN

Vytvoř funkci get_points(), která přidělí každému z uchazečů počet bodů na základě daných kritérií.

In [15]:
def get_points(row):
    points = 0
    if row[["body_aj", "body_mat", "body_cj"]].min() < 60:
        points = 0
    if row[["body_aj", "body_mat", "body_cj"]].min() >= 60:
        points = row[["body_aj", "body_mat", "body_cj"]].sum()
        if row["letni_skola"] == "ano":
            points += 5
        if pandas.notna(row["souteze"]):
            points += 10
    return points
uchazeci["score"] = uchazeci.apply(get_points, axis=1)
uchazeci.head(15)

,prijmeni,krestni_jmeno,obor,body_aj,body_mat,body_cj,letni_skola,souteze,score
0,Květoslava,Růžičková,Elektrotechnika,62,48,51,ne,NaN,0
1,Jan,Moravec,Technické lyceum,81,74,66,ne,7. místo (matematická olympiáda),231
2,Denis,Fiala,Informatika,63,69,65,ne,NaN,197
3,Luboš,Šimek,Informatika,78,79,65,ne,NaN,222
4,Vilém,Novotný,Informatika,84,68,78,ano,NaN,235
5,Drahomíra,Štěpánková,Elektrotechnika,69,74,60,ne,NaN,203
6,Vlasta,Horáková,Technické lyceum,53,61,57,ne,NaN,0
7,Šimon,Pospíšil,Technické lyceum,70,66,68,ne,NaN,204
8,Jaroslav,Říha,Elektrotechnika,79,71,63,ne,NaN,213
9,Renata,Malá,Elektrotechnika,71,66,75,ano,NaN,217
10,Vilém,Dvořák,Elektrotechnika,98,92,80,ne,NaN,270
11,Radka,Dušková,Technické lyceum,88,70,66,ne,NaN,224
12,Luděk,Kratochvíl,Elektrotechnika,92,89,93,ne,NaN,274
13,Kamila,Vacková,Technické lyceum,56,41,57,ne,NaN,0
14,Simona,Němcová,Technické lyceum,63,56,61,ne,NaN,0

Dále vytvoř novou tabulku, která obsahuje pouze uchazeče a uchazečky, kteří mají nenulové hodnocení.

In [16]:
uchazeci_filtered = uchazeci[uchazeci["score"] > 0].copy()
uchazeci_filtered

,prijmeni,krestni_jmeno,obor,body_aj,body_mat,body_cj,letni_skola,souteze,score
1,Jan,Moravec,Technické lyceum,81,74,66,ne,7. místo (matematická olympiáda),231
2,Denis,Fiala,Informatika,63,69,65,ne,NaN,197
3,Luboš,Šimek,Informatika,78,79,65,ne,NaN,222
4,Vilém,Novotný,Informatika,84,68,78,ano,NaN,235
5,Drahomíra,Štěpánková,Elektrotechnika,69,74,60,ne,NaN,203
...,...,...,...,...,...,...,...,...,...
191,Růžena,Vlčková,Technické lyceum,72,79,70,ne,NaN,221
193,Alexandra,Mašková,Informatika,88,79,83,ne,NaN,250
195,Naděžda,Čermáková,Technické lyceum,71,61,67,ne,NaN,199
198,Emil,Černý,Elektrotechnika,78,71,70,ne,7. místo (fyzikální olympiáda),229
199,Miluše,Novotná,Informatika,67,79,75,ano,NaN,226

Dále využij metodu rank() k výpočtu pořadí uchazeče/uchazečky v rámci daného oboru, a data seřaď podle oboru a počtu bodů.

In [17]:
uchazeci_filtered["rank"] = uchazeci_filtered.groupby("obor")["score"].rank(method="min", ascending=False)
uchazeci_filtered = uchazeci_filtered.sort_values(["obor", "score"], ascending=[True, False])
uchazeci_filtered.head(10)

,prijmeni,krestni_jmeno,obor,body_aj,body_mat,body_cj,letni_skola,souteze,score,rank
12,Luděk,Kratochvíl,Elektrotechnika,92,89,93,ne,NaN,274,1.0
143,Daniela,Poláková,Elektrotechnika,102,78,94,ne,NaN,274,1.0
10,Vilém,Dvořák,Elektrotechnika,98,92,80,ne,NaN,270,3.0
160,Barbora,Vacková,Elektrotechnika,90,83,87,ne,2. místo (přírodopisná olympiáda),270,3.0
72,Lubomír,Holub,Elektrotechnika,96,90,82,ne,NaN,268,5.0
138,Anežka,Kolářová,Elektrotechnika,92,78,91,ne,NaN,261,6.0
166,Radek,Bláha,Elektrotechnika,103,73,83,ne,NaN,259,7.0
123,Karolína,Nováková,Elektrotechnika,84,95,79,ne,NaN,258,8.0
186,Vilém,Marek,Elektrotechnika,92,85,79,ne,NaN,256,9.0
118,Erik,Beneš,Elektrotechnika,73,87,86,ano,NaN,251,10.0

Nakonec vytvoř tabulku s přijatými uchazeči, kde budou uchazeči hodnocení od 1. do 30. místa pro daný obor.

In [20]:
uchazeci_filtered["prijat"] = np.where(uchazeci_filtered["rank"] <= 30, "prijat(a)", "neprijat(a)")
uchazeci_filtered

,prijmeni,krestni_jmeno,obor,body_aj,body_mat,body_cj,letni_skola,souteze,score,rank,prijat
12,Luděk,Kratochvíl,Elektrotechnika,92,89,93,ne,NaN,274,1.0,prijat(a)
143,Daniela,Poláková,Elektrotechnika,102,78,94,ne,NaN,274,1.0,prijat(a)
10,Vilém,Dvořák,Elektrotechnika,98,92,80,ne,NaN,270,3.0,prijat(a)
160,Barbora,Vacková,Elektrotechnika,90,83,87,ne,2. místo (přírodopisná olympiáda),270,3.0,prijat(a)
72,Lubomír,Holub,Elektrotechnika,96,90,82,ne,NaN,268,5.0,prijat(a)
...,...,...,...,...,...,...,...,...,...,...,...
87,Veronika,Poláková,Technické lyceum,68,68,61,ano,NaN,202,27.0,prijat(a)
38,Monika,Kratochvílová,Technické lyceum,60,76,65,ne,NaN,201,28.0,prijat(a)
15,Erik,Dvořák,Technické lyceum,68,71,61,ne,NaN,200,29.0,prijat(a)
195,Naděžda,Čermáková,Technické lyceum,71,61,67,ne,NaN,199,30.0,prijat(a)
31,Jan,Kadlec,Technické lyceum,61,67,62,ne,NaN,190,31.0,neprijat(a)